<section>
    <div id="items-container">
        <ecommerce-cart-locations-section [locations]="locations" (removeLocationEvent)="removeLocation($event)"></ecommerce-cart-locations-section>
        <ecommerce-cart-activities-section [activities]="activities" (removeActivityEvent)="removeActivity($event)"></ecommerce-cart-activities-section>
    </div>
    
    <div id="buy-container">
        <p>Total: ${{getTotalPrice()}} ARS</p>
        <button (click)="buy()" type="button" aria-label="Buy cart button" [disabled]="getTotalPrice() == 0">
            {{'ECOMMERCE.CART.BUY_FORM.BUY' | translate}}
        </button>
        <div id="coupon">
            <input type="text" [placeholder]="'ECOMMERCE.CART.BUY_FORM.COUPON' | translate" maxlength="30">
            <button type="button" aria-label="Apply coupon button">{{'ECOMMERCE.CART.BUY_FORM.APPLY_COUPON' | translate}}</button>
        </div>
    </div>
</section>