section {
    display: flex;
    flex-direction: column;
    padding: 75px 15px 15px 15px;
    gap: 15px;
    min-height: 80vh;
}

#buy-container {
    width: 100%;
    border-radius: 10px;
    background: #DDDDDD;
    padding: 10px;
    color: black;
    font-family: 'Pangea';
    height: fit-content;
}

#buy-container button {
    font-family: 'Pangea';
    padding: 5px;
    width: 100%;
    background: -webkit-linear-gradient(to right, #56CCF2, #2F80ED);
    background: linear-gradient(to right, #56CCF2, #2F80ED);
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#buy-container button:hover {
    background: -webkit-linear-gradient(to right, #4bafd1, #286fca);
    background: linear-gradient(to right, #4bafd1, #286fca);
}

#buy-container button:disabled {
    background: -webkit-linear-gradient(to right, #357c94, #1b4a88);
    background: linear-gradient(to right, #357c94, #1b4a88);
    cursor: default;
}

#coupon {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

#coupon input {
    font-family: 'Pangea';
    padding: 5px;
    width: 80%;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(184, 184, 184);
    border-radius: 10px;
    text-align: center;
}

#coupon button {
    width: 20%;
}

#coupon-message {
    color: green;
    margin-top: 8px;
}

#coupon-error {
    color: red;
    margin-top: 8px;
}

.coupon-input-error {
    animation: coupon-input-animation forwards ease .5s;
}

@media (min-width: 768px) {
    section {
        padding: 105px 25px 25px 25px;
    }

    #buy-container {
        width: 50%;
        margin: 0 auto;
    }
}

@media (min-width: 1038px) {
    section {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    #items-container {
        max-width: 70%;
    }

    #buy-container {
        width: 30%;
        margin: auto 0;
    }
}

/*@keyframes coupon-input-animation {
    33% {
        transform: translateX(-8px);
        border-bottom-color: red;
    }
    66% {
        transform: translateX(8px);
        border-bottom-color: red;
    }
    100% {
        transform: translateX(0);
        border-bottom-color: rgb(184, 184, 184);
    }
}*/

@keyframes coupon-input-animation {
    20% {
        transform: translateX(-8px);
        border-bottom-color: red;
    }
    40% {
        transform: translateX(8px);
        border-bottom-color: red;
    }
    60% {
        transform: translateX(-8px);
        border-bottom-color: red;
    }
    80% {
        transform: translateX(8px);
        border-bottom-color: red;
    }
    100% {
        transform: translateX(0);
        border-bottom-color: rgb(184, 184, 184);
    }
}