<app-spinner *ngIf="!provincesAreLoaded"></app-spinner>

<p class="no-provinces" *ngIf="provincesAreLoaded && provinces.length == 0">
    {{'ADMIN_PANEL.PROVINCES.NO_DELETED_PROVINCES' | translate}}
</p>

<div class="table-container" *ngIf="provincesAreLoaded && provinces.length > 0">
    <admin-searchbar (searchEvent)="search($event)" (resetEvent)="resetSearch()"></admin-searchbar>
    
    <table>
        <thead>
            <tr>
                <th>{{'ADMIN_PANEL.PROVINCES.NAME' | translate}}</th>
                <th>{{'ADMIN_PANEL.PROVINCES.ACTIONS' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let province of provinces">
                <td>{{province.name}}</td>
                <td class="table-btns">
                    <a [routerLink]="['/admin/provinces', province.idProvince]"><i class="fa-solid fa-pen-to-square"></i></a>
                    <hr>
                    <i (click)="showRestoreModal(province)" class="fa-solid fa-trash-can-arrow-up"></i>
                </td>
            </tr>
        </tbody>
    </table>
    
    <app-paginator (changePageEvent)="changePage($event)" [page]="page" [isFirstPage]="isFirstPage" [isLastPage]="isLastPage" [totalPages]="totalPages"></app-paginator>
</div>