.no-activities {
    font-family: 'Pangea';
    text-align: center;
}

.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    width: 100%;
    font-family: 'Pangea';
    border-radius: 15px;
    color: white;
}

th, tr {
    width: 50%;
}

table thead {
    background: #2F80ED;
}

table thead th:nth-child(1) {
    border-radius: 5px 0 0 0;
}

table thead th:nth-child(2) {
    border-radius: 0 5px 0 0;
}

table thead tr th {
    padding: 5px;
}

table tbody {
    background: #56CCF2;
}

table tbody tr td {
    padding: 5px;
}

.table-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.table-btns i {
    cursor: pointer;
}

.table-btns i:hover {
    color: gray;
}

.table-btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.table-btns hr {
    height: 26px;
    border: 1px solid white;
    border-radius: 15px;
}

#table-edit-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#table-edit-container a {
    text-decoration: none;
    text-align: center;
    color: white;
    background: -webkit-linear-gradient(to right, #11998e, #38ef7d);
    background: linear-gradient(to right, #11998e, #38ef7d);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Pangea';
    font-size: 1rem;
    line-height: 1rem;
}

#table-edit-container a:hover {
    background: -webkit-linear-gradient(to right, #0c746b, #2cbb63);
    background: linear-gradient(to right, #0c746b, #2cbb63);
}

#table-edit-container adminpanel-searchbar {
    width: 100%;
}

@media (min-width: 768px) {
    .table-btns {
        gap: 15px;
    }

    #table-edit-container {
        justify-content: space-between;
        flex-direction: row;
    }

    #table-edit-container a {
        width: auto;
        text-align: start;
    }

    #table-edit-container adminpanel-searchbar {
        width: auto;
    }
}

@media (min-width: 1038px) {
    .table-container {
        min-height: 570px;
    }

    app-paginator {
        margin-top: auto;
    }
}