<section>
    <h2>{{'NAVBAR.LOCATIONS' | translate}}</h2>

    <div id="locations">
        <div class="location iguazu">
            <div class="location-data">
                <p>Puerto Iguazú (Misiones)</p>
                <button>{{'GENERAL.DETAILS' | translate}}</button>
            </div>
        </div>
        <div class="location tigre">
            <div class="location-data">
                <p>Tigre (Buenos Aires)</p>
                <button>{{'GENERAL.DETAILS' | translate}}</button>
            </div>
        </div>
        <div class="location madryn">
            <div class="location-data">
                <p>Puerto Madryn (Chubut)</p>
                <button>{{'GENERAL.DETAILS' | translate}}</button>
            </div>
        </div>
        <div class="location acsibi">
            <div class="location-data">
                <p>Cuevas de Acsibi (Salta)</p>
                <button>{{'GENERAL.DETAILS' | translate}}</button>
            </div>
        </div>
    </div>

    <a href="" aria-label="Locations page" id="locations-page-link">{{'ECOMMERCE.INDEX.LOCATIONS.MORE_LOCATIONS_LINK' | translate}}</a>
</section>