<section *ngIf="activity?.image1 || activity?.image2 || activity?.image3">
    <h2>Images</h2>
    <div id="images">
        <img *ngIf="activity?.image1" [src]="'http://localhost:8090/api/activities/img/' + activity.image1" [alt]="activity.name + ' First image'">
        <img *ngIf="activity?.image2" [src]="'http://localhost:8090/api/activities/img/' + activity.image2" [alt]="activity.name + ' Second image'">
        <img *ngIf="activity?.image3" [src]="'http://localhost:8090/api/activities/img/' + activity.image3" [alt]="activity.name + ' Third image'">
    </div>
</section>