<section>
    <h1>{{'NAVBAR.ACTIVITIES' | translate}}</h1>

    <ecommerce-province-selector></ecommerce-province-selector>
    <ecommerce-location-selector></ecommerce-location-selector>

    <div id="activities">
        <div class="activity" *ngFor="let activity of activities">
            <img [src]="activity.image1" [alt]="activity.name + ' image'">
            <p class="activity-location">{{activity.location.name}} ({{activity.location.province.name}})</p>
            <p class="activity-name">{{activity.name}}</p>
        </div>
    </div>

    <ecommerce-paginator></ecommerce-paginator>
</section>