section {
    width: 100%;
    margin-top: 300px;
    padding: 15px;
    background: white;
}

section h1 {
    font-size: 3rem;
    color: black;
    font-family: 'Pangea';
}

.activity {
    width: 100%;
    height: 440px;
    margin-bottom: 15px;
    cursor: pointer;
}

.activity:hover {
    text-decoration: underline;
}

.activity img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 15px;
}

.activity-location {
    font-family: 'Pangea';
    font-size: 1rem;
    line-height: 1rem;
    color: rgb(58, 58, 58);
}

.activity-name {
    font-family: 'Pangea';
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: black;
}

@media (min-width: 768px) {
    section {
        padding: 25px;
    }
    
    section h1 {
        font-size: 4rem;
    }

    #activities {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
}

@media (min-width: 1038px) {
    section h1 {
        font-size: 5rem;
    }

    .activity {
        height: 260px;
    }

    .activity-location {
        line-height: normal;
    }
}