section {
    width: 100%;
    margin-top: 300px;
    padding: 15px;
    background: white;
}

section h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-family: 'Pangea';
}

section a {
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 1.5rem;
    font-family: 'Pangea';
}

section a:hover {
    text-decoration: underline;
}

section p {
    font-size: 1rem;
    font-family: 'Pangea';
}

@media (min-width: 768px) {
    section {
        padding: 25px;
    }

    section h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    section a {
        font-size: 2rem;
    }
}

@media (min-width: 1038px) {
    section h1 {
        font-size: 5rem;
        line-height: 5rem;
    }
}