.no-locations {
    font-family: 'Pangea';
    text-align: center;
}

.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    width: 100%;
    font-family: 'Pangea';
    border-radius: 15px;
    color: white;
}

th, tr {
    width: 50%;
}

table thead {
    background: #2F80ED;
}

table thead th:nth-child(1) {
    border-radius: 5px 0 0 0;
}

table thead th:nth-child(2) {
    border-radius: 0 5px 0 0;
}

table thead tr th {
    padding: 5px;
}

table tbody {
    background: #56CCF2;
}

table tbody tr td {
    padding: 5px;
}

.table-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.table-btns i {
    cursor: pointer;
}

.table-btns i:hover {
    color: gray;
}

.table-btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.table-btns hr {
    height: 26px;
    border: 1px solid white;
    border-radius: 15px;
}

@media (min-width: 768px) {
    .table-btns {
        gap: 15px;
    }
}

@media (min-width: 1038px) {
    .table-container {
        min-height: 440px;
    }

    app-paginator {
        margin-top: auto;
    }
}