<app-spinner *ngIf="!locationsAreLoaded"></app-spinner>

<div *ngIf="locationsAreLoaded" [ngClass]="locations.length > 0 ? 'table-container-with-content' : 'table-container-without-content'">
    <div id="table-edit-container">
        <a [routerLink]="['/admin/locations/add']">
            <i class="fa-solid fa-plus"></i> {{'ADMIN_PANEL.LOCATIONS.ADD' | translate}}
        </a>
        <admin-searchbar (searchEvent)="search($event)" (resetEvent)="resetSearch()"></admin-searchbar>
    </div>

    <table *ngIf="locations.length > 0">
        <thead>
            <tr>
                <th>{{'ADMIN_PANEL.LOCATIONS.NAME' | translate}}</th>
                <th>{{'ADMIN_PANEL.LOCATIONS.ACTIONS' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let location of locations">
                <td>{{location.name}}</td>
                <td class="table-btns">
                    <a [routerLink]="['/shop/locations', location.idLocation]"><i class="fa-solid fa-eye"></i></a>
                    <hr>
                    <a [routerLink]="['/admin/locations', location.idLocation]"><i class="fa-solid fa-pen-to-square"></i></a>
                    <hr>
                    <i class="fa-solid fa-trash" (click)="showDeleteModal(location)"></i>
                </td>
            </tr>
        </tbody>
    </table>
    
    <app-paginator (changePageEvent)="changePage($event)" [page]="page" [isFirstPage]="isFirstPage" [isLastPage]="isLastPage" [totalPages]="totalPages" *ngIf="locations.length > 0"></app-paginator>
</div>

<p class="no-locations" *ngIf="locationsAreLoaded && locations.length == 0">
    {{'ADMIN_PANEL.LOCATIONS.NO_LOCATIONS' | translate}}
</p>