<nav>
    <button id="menu" type="button" aria-label="Menu" (click)="toggleMenu()">
        <i class="fa-solid fa-bars" #menuButton></i>
    </button>

    <a [routerLink]="['/shop/index']" aria-label="Home" id="logo">
        <img src="../../../assets/img/logo.png" alt="Turismo Argentina logo">
    </a>
    
    <ul #navbarList *ngIf="!userIsOnAdminModule">
        <li>
            <a [routerLink]="['/shop/index']" (click)="toggleMenu()">
                <i class="fa-solid fa-house"></i>
                <p>{{'NAVBAR.HOME' | translate}}</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/shop/provinces']" (click)="toggleMenu()">
                <i class="fa-solid fa-location-dot"></i>
                <p>{{'NAVBAR.PROVINCES' | translate}}</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/shop/locations']" (click)="toggleMenu()">
                <i class="fa-solid fa-mountain-sun"></i>
                <p>{{'NAVBAR.LOCATIONS' | translate}}</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/shop/activities']" (click)="toggleMenu()">
                <i class="fa-solid fa-person-snowboarding"></i>
                <p>{{'NAVBAR.ACTIVITIES' | translate}}</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/shop/cart']" (click)="toggleMenu()">
                <i class="fa-solid fa-cart-shopping"></i>
                <p>{{'NAVBAR.CART' | translate}}</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/shop/login']" (click)="toggleMenu()" *ngIf="!userIsLoggedIn">
                <i class="fa-solid fa-right-to-bracket"></i>
                <p>{{'NAVBAR.LOGIN' | translate}}</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/shop/account']" (click)="toggleMenu()" *ngIf="userIsLoggedIn">
                <i class="fa-solid fa-user"></i>
                <p>{{'NAVBAR.ACCOUNT' | translate}}</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/admin']" (click)="toggleMenu()" *ngIf="userIsAdmin">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <p>{{'NAVBAR.ADMIN' | translate}}</p>
            </a>
        </li>
    </ul>
    
    <ul #navbarList *ngIf="userIsOnAdminModule">
        <li>
            <a [routerLink]="['/admin/dashboard']" (click)="toggleMenu()" *ngIf="userIsAdmin">
                <i class="fa-solid fa-chart-line"></i>
                <p>{{'NAVBAR.DASHBOARD' | translate}}</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/admin/provinces']" (click)="toggleMenu()" *ngIf="userIsAdmin">
                <i class="fa-solid fa-location-dot"></i>
                <p>{{'NAVBAR.PROVINCES' | translate}}</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/shop']" (click)="toggleMenu()" *ngIf="userIsAdmin">
                <i class="fa-solid fa-shop"></i>
                <p>{{'NAVBAR.SHOP' | translate}}</p>
            </a>
        </li>
    </ul>
</nav>