<nav>
    <button id="menu" type="button" aria-label="Menu" (click)="activateMenu()">
        <i class="fa-solid fa-bars" #menuButton></i>
    </button>

    <a href="" aria-label="Home" id="logo">
        <img src="../../../assets/img/logo.png" alt="Turismo Argentina logo">
    </a>
    
    <ul #navbarList>
        <li>
            <a href="">
                <i class="fa-solid fa-house"></i>
                <p>{{'NAVBAR.HOME' | translate}}</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-location-dot"></i>
                <p>{{'NAVBAR.PROVINCES' | translate}}</p>
            </a>
        </li>
        <li>
            <a href=""> 
                <i class="fa-solid fa-mountain-sun"></i>
                <p>{{'NAVBAR.LOCATIONS' | translate}}</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-person-snowboarding"></i>
                <p>{{'NAVBAR.ACTIVITIES' | translate}}</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-cart-shopping"></i>
                <p>{{'NAVBAR.CART' | translate}}</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-user"></i>
                <p>{{'NAVBAR.ACCOUNT' | translate}}</p>
            </a>
        </li>
    </ul>
</nav>