<footer>
    <div id="navigation-container">
        <div id="company-data">
            <img src="../../../assets/img/logo.png" alt="Turismo Argentina logo">
            <p>Turismo Argentina</p>
        </div>
        <ul>
            <li>
                <a [routerLink]="['/shop/index']">{{'NAVBAR.HOME' | translate}}</a>
            </li>
            <li>
                <a [routerLink]="['/shop/provinces']">{{'NAVBAR.PROVINCES' | translate}}</a>
            </li>
            <li>
                <a [routerLink]="['/shop/locations']"> {{'NAVBAR.LOCATIONS' | translate}}</a>
            </li>
        </ul>
        <ul>
            <li>
                <a [routerLink]="['/shop/activities']">{{'NAVBAR.ACTIVITIES' | translate}}</a>
            </li>
            <li>
                <a href="">{{'NAVBAR.CART' | translate}}</a>
            </li>
            <li>
                <a href=""> {{'NAVBAR.ACCOUNT' | translate}}</a>
            </li>
        </ul>
    </div>
    
    <hr>

    <div id="copyright-container">
        <div id="social-media-buttons">
            <a href="https://matiasgbt.netlify.app/" target="_blank"><i class="fa-solid fa-globe"></i></a>
            <a href="https://github.com/MatiasGBT" target="_blank"><i class="fa-brands fa-github" target="_blank"></i></a>
            <a href="https://www.linkedin.com/in/mat%C3%ADas-blanco-toledo-4b784a223" target="_blank"><i class="fa-brands fa-linkedin" target="_blank"></i></a>
        </div>
        <p>&copy; Matías Gabriel Blanco Toledo</p>
    </div>
</footer>