footer {
    background: #2F80ED;
    width: 100%;
    padding: 15px;
    box-shadow: 0 -2px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: .75rem;
}

#navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#company-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#company-data img {
    width: 40px;
    height: 40px;
}

#company-data p {
    color: white;
    font-family: 'Pangea';
}

#navigation-container ul {
    list-style: none;
}

#navigation-container ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Pangea';
}

#navigation-container ul li a:hover {
    text-decoration: underline;
}

hr {
    margin: 15px 0;
}

#copyright-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Pangea';
}

#social-media-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#social-media-buttons a {
    width: 32px;
    height: 32px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

#social-media-buttons a:hover {
    background: white;
    color: #2F80ED;
    transition: .3s;
}

#social-media-buttons a i {
    text-align: center;
    font-size: 1rem;
}

#copyright-container p {
    margin-top: 5px;
}

@media (min-width: 768px) {
    footer {
        padding: 25px;
        font-size: 1rem;
    }

    #navigation-container {
        justify-content: space-around;
    }

    #company-data img {
        width: 60px;
        height: 60px;
    }

    hr {
        width: 78%;
        margin: 15px auto;
    }

    #social-media-buttons a {
        width: 48px;
        height: 48px;
    }
    
    #social-media-buttons a i {
        font-size: 1.5rem;
    }

    #copyright-container p {
        margin-top: 10px;
    }
}

@media (min-width: 1038px) {
    #company-data img {
        width: 80px;
        height: 80px;
    }

    hr {
        width: 76%;
    }
}