<header>
    <h1>Turismo Argentina</h1>
    <div class="index-province-hero index-hero-grid1">
        <div class="province-wrapper">
            <h2 class="province-name">Buenos Aires</h2>
        </div>
    </div>
    <div class="index-province-hero index-hero-grid2">
        <div class="province-wrapper">
            <h2 class="province-name">Río Negro</h2>
        </div>
    </div>
    <div class="index-province-hero index-hero-grid3">
        <div class="province-wrapper">
            <h2 class="province-name">Chubut</h2>
        </div>
    </div>
</header>