section {
    width: 100%;
    padding: 15px;
    background: white;
}

section h2 {
    font-size: 2rem;
    color: black;
    font-family: 'Pangea';
}

#locations {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}

.location {
    width: 100%;
    height: 360px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .3s;
}

.location:hover {
    box-shadow: 0 0 20px rgba(255, 255, 25, 0.5);
    transition: .3s;
}

.location p {
    font-family: 'Pangea';
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 15px 15px 0 0;
    max-width: 80%;
}

@media (min-width: 768px) {
    section {
        padding: 25px;
    }

    section h2 {
        font-size: 3rem;
    }

    #locations {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1038px) {
    #locations {
        grid-template-columns: repeat(3, 1fr);
    }
}