<section>
    <h2>{{'ECOMMERCE.INDEX.CONTACT.TITLE' | translate}}</h2>

    <form class="contact-form" (submit)="sendEmail($event)">
        <label>{{'ECOMMERCE.INDEX.CONTACT.FORM.NAME' | translate}} <span>*</span></label>
        <input type="text" name="user_name" required minlength="5" maxlength="40">
        <label>Email <span>*</span></label>
        <input type="email" name="user_email" required>
        <label>{{'ECOMMERCE.INDEX.CONTACT.FORM.MESSAGE' | translate}} <span>*</span></label>
        <textarea name="message" required minlength="5" maxlength="500"></textarea>
        <input type="submit" [value]="sendButtonText">
    </form>
</section>