section {
    padding: 15px;
    font-family: 'Pangea';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    background: #56CCF2;
    color: white;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

form label span {
    color: red;
}

form input, form textarea {
    border: none;
    border-bottom: 2px solid rgb(184, 184, 184);
    margin-bottom: 10px;
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
}

form textarea {
    resize: none;
    height: 150px;
}

form input:focus:invalid, 
form textarea:focus:invalid {
    border-width: 0;
    border-bottom: 2px solid red;
    outline: none;
}

form input:focus:valid, 
form textarea:focus:valid {
    border-width: 0;
    border-bottom: 2px solid green;
    outline: none;
}

form input[type=submit] {
    background: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: #0f0e17;
    margin-bottom: 0;
    transition: .3s;
    cursor: pointer;
}

form input[type=submit]:focus {
    border-bottom: none;
}

form input[type=submit]:hover {
    background: #0f0e17;
    color: white;
    transition: .3s;
}

@media (min-width: 768px) {
    section {
        padding: 25px;
    }

    form {
        width: 50%;
    }
}

@media (min-width: 1038px) {
    section h2 {
        font-size: 2.5rem;
    }

    form {
        width: 35%;
    }
}