label {
    font-family: 'Pangea';
}

select {
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 15px;
    width: 100%;
    font-family: 'Pangea';
    line-height: 20px;
    outline: none;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

@media (min-width: 768px) {
    #select-container {
        display: flex;
    }

    select {
        width: 50%;
        margin-left: auto;
    }
}

@media (min-width: 1038px) {
    select {
        width: 25%;
    }
}