*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pangea';
    src: url('assets/fonts/PangeaAfrikanTrial-SemiBold.otf');
}

@font-face {
    font-family: 'BlackJack';
    src: url('assets/fonts/blackjack.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf');
}