@font-face {
    font-family: 'Pangea';
    src: url('../assets/PangeaAfrikanTrial-SemiBold.otf');
}

body {
    font-family: 'Pangea';
    text-align: center;
    margin: 0;
    background-image: url("../assets/clouds.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.login-body {
    min-height: calc(100vh - 10px); /*100vh - (padding-top + padding-bottom)*/
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container {
    min-width: 365px;
    background: white;
    padding: 25px;
    border-radius: 15px;
}

#kc-header-wrapper {
    font-size: 2.5rem;
}

#kc-current-locale-link {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 10px;
    margin: 0;
}

label {
    display: block;
}

input {
    width: 80%;
    padding: 5px;
    background: rgb(221, 221, 221);
    border: none;
    border-bottom: 2px solid rgb(184, 184, 184);
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
}

#rememberMe {
    width: auto;
}

#kc-login,
input[type="Submit"] {
    background: -webkit-linear-gradient(to right, #56CCF2, #2F80ED);
    background: linear-gradient(to right, #56CCF2, #2F80ED);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#kc-login:hover,
input[value="Register"]:hover,
input[value="Submit"]:hover {
    background: -webkit-linear-gradient(to right, #4bafd1, #286fca);
    background: linear-gradient(to right, #4bafd1, #286fca);
}

#input-error {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(221, 5, 5);
    background: rgb(216, 127, 127);
    padding: 10px;
    animation-name: invalidCredentialsAnimation;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#input-error::before {
    content: '❗';
}

@keyframes invalidCredentialsAnimation {
    0%   {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#input-error-firstname,
#input-error-lastname,
#input-error-email,
#input-error-username,
#input-error-password,
#input-error-password-confirm {
    display: block;
    margin-bottom: 10px;
    color: rgb(221, 5, 5);
}