<section>
    <h1>{{'NAVBAR.LOCATIONS' | translate}}</h1>

    <ecommerce-province-selector (selectProvinceEvent)="sortByProvince($event)"></ecommerce-province-selector>

    <app-spinner *ngIf="locations.length == 0"></app-spinner>

    <div id="locations" *ngIf="locations.length > 0">
        <div class="location" *ngFor="let location of locations" (click)="goToLocation(location.idLocation)">
            <img [src]="'http://localhost:8090/api/locations/img/' + location.image" [alt]="location.name + ' image'">
            <p class="location-province">{{location.province.name}}</p>
            <p class="location-name">{{location.name}}</p>
        </div>
    </div>

    <app-paginator (changePageEvent)="changePage($event)" [page]="page" [isFirstPage]="isFirstPage" [isLastPage]="isLastPage" [totalPages]="totalPages"></app-paginator>
</section>